.entered-container {
  height: 100vh;
  overflow-y: auto;
  max-width: 720px;
  text-align: center;
}

.entered-container::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.game-container {
  align-items: center;
  display: flex;
  flex: auto;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}

.game-header {
  .game-count {
    button {
      position: absolute;
      left: 4px;
      /* vertically center the icon */
      top: 50%;
      transform: translateY(-50%);
    }

    position: relative;
  }

  width: 100%;
  max-width: 720px;
}

.image {
  display: inline-block;
  margin: 0 auto;
}

.input-container {
  margin-top: 5px;
  max-width: 400px;
  width: 100%;
}
